<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Xyrus.Apophysis.Settings.RenderSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
			<section name="Xyrus.Apophysis.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
			<section name="Xyrus.Apophysis.Settings.EditorSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
			<section name="Xyrus.Apophysis.Settings.ViewSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
			<section name="Xyrus.Apophysis.Settings.PreviewSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
			<section name="Xyrus.Apophysis.Settings.AutosaveSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
			<section name="Xyrus.Apophysis.Settings.CommonSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<userSettings>
		<Xyrus.Apophysis.Settings.RenderSettings>
   <setting name="SizePreset1" serializeAs="String">
    <value>0, 0</value>
   </setting>
   <setting name="SizePreset2" serializeAs="String">
    <value>0, 0</value>
   </setting>
   <setting name="SizePreset3" serializeAs="String">
    <value>0, 0</value>
   </setting>
   <setting name="MaintainCanvasAspectRatio" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="SaveFlameAfterRender" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="AllowSaveIncompleteRender" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="Size" serializeAs="String">
    <value>0, 0</value>
   </setting>
   <setting name="Density" serializeAs="String">
    <value>1000</value>
   </setting>
   <setting name="FilterRadius" serializeAs="String">
    <value>0.1</value>
   </setting>
   <setting name="Oversample" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="DestinationPath" serializeAs="String">
    <value>%userprofile%</value>
   </setting>
   <setting name="DestinationFormat" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="ThreadCount" serializeAs="String">
    <value>0</value>
   </setting>
  </Xyrus.Apophysis.Settings.RenderSettings>
		<Xyrus.Apophysis.Settings.CommonSettings>
			<setting name="PluginDirectoryName" serializeAs="String">
				<value/>
			</setting>
			<setting name="NamePrefix" serializeAs="String">
				<value>Apo7x</value>
			</setting>
			<setting name="ShowUnknownAttributesMessage" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="VariationsIn15CStyle" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="JpegQuality" serializeAs="String">
				<value>120</value>
			</setting>
			<setting name="EnablePngTransparency" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="ShowDeleteConfirmation" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="ShowCancelRenderConfirmation" serializeAs="String">
				<value>True</value>
			</setting>
		</Xyrus.Apophysis.Settings.CommonSettings>
		<Xyrus.Apophysis.Settings.PreviewSettings>
   <setting name="EditorPreviewDensityLevel" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="FlamePropertiesPreviewDensityLevel" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="MiniPreviewUpdateResolution" serializeAs="String">
    <value>100</value>
   </setting>
   <setting name="MainPreviewDensity" serializeAs="String">
    <value>5</value>
   </setting>
   <setting name="BatchListPreviewDensity" serializeAs="String">
    <value>2</value>
   </setting>
   <setting name="LowQualityDensity" serializeAs="String">
    <value>0.1</value>
   </setting>
   <setting name="MediumQualityDensity" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="HighQualityDensity" serializeAs="String">
    <value>5</value>
   </setting>
   <setting name="SizePreset1" serializeAs="String">
    <value>0, 0</value>
   </setting>
   <setting name="SizePreset2" serializeAs="String">
    <value>0, 0</value>
   </setting>
   <setting name="SizePreset3" serializeAs="String">
    <value>0, 0</value>
   </setting>
   <setting name="ThreadCount" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="Oversample" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="FilterRadius" serializeAs="String">
    <value>0</value>
   </setting>
  </Xyrus.Apophysis.Settings.PreviewSettings>
		<Xyrus.Apophysis.Settings.ViewSettings>
			<setting name="BatchListUsePreviews" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="BatchListPreviewSize" serializeAs="String">
				<value>120</value>
			</setting>
			<setting name="IsMainToolbarVisible" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="IsMainStatusbarVisible" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="BatchListSize" serializeAs="String">
				<value>230</value>
			</setting>
			<setting name="IsBatchListVisible" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="ShowGuidelines" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="ShowTransparency" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="FitMainPreviewImage" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="SyncMainWindowWithCanvasSize" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="MaintainCanvasAspectRatio" serializeAs="String">
				<value>True</value>
			</setting>
		</Xyrus.Apophysis.Settings.ViewSettings>
		<Xyrus.Apophysis.Settings.EditorSettings>
   <setting name="MoveDistance" serializeAs="String">
    <value>0.5</value>
   </setting>
   <setting name="RotateAngle" serializeAs="String">
    <value>15</value>
   </setting>
   <setting name="ScaleRatio" serializeAs="String">
    <value>125</value>
   </setting>
   <setting name="LockAxes" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ShowRulers" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ShowVariationPreview" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="AutoZoom" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="VariationPreviewDensity" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="VariationPreviewRange" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="VariationPreviewApplyPostTransform" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="CameraEditMode" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="CameraEditUseScale" serializeAs="String">
    <value>True</value>
   </setting>
  </Xyrus.Apophysis.Settings.EditorSettings>
		<Xyrus.Apophysis.Settings.AutosaveSettings>
			<setting name="TargetPath" serializeAs="String">
				<value>%UserProfile%\ApophysisAutosave.flame</value>
			</setting>
			<setting name="Threshold" serializeAs="String">
				<value>60</value>
			</setting>
			<setting name="Enabled" serializeAs="String">
				<value>True</value>
			</setting>
		</Xyrus.Apophysis.Settings.AutosaveSettings>
	</userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
