ARROW_BLACK        CURSOR         "ARROW_BLACK.cur"
ARROW_WHITE        CURSOR         "ARROW_WHITE.cur"
MOVE_BLACK         CURSOR         "MOVE_BLACK.cur"
MOVE_WB            CURSOR         "MOVE_WB.cur"
MOVE_WHITE         CURSOR         "MOVE_WHITE.cur"
ROTATE_BLACK       CURSOR         "ROTATE_BLACK.cur"
ROTATE_WB          CURSOR         "ROTATE_WB.cur"
ROTATE_WHITE       CURSOR         "ROTATE_WHITE.cur"
SCALE_BLACK        CURSOR         "SCALE_BLACK.cur"
SCALE_WB           CURSOR         "SCALE_WB.cur"
SCALE_WHITE        CURSOR         "SCALE_WHITE.cur"
THUMB_PLACEHOLDER  BITMAP         "THUMB_PLACEHOLDER.bmp"

MAINICON           ICON           "..\Apophysis7X_Icon.ico"
1				   VERSIONINFO
    FILEVERSION     3,0,17,0
    PRODUCTVERSION  3,0,0,0
    FILEOS          0x00000004
    FILETYPE        0x00000001
    FILESUBTYPE     0x00000000
    FILEFLAGSMASK   0x00000000
    FILEFLAGS       0x00000000
{
    BLOCK "StringFileInfo"
    {
        BLOCK "040904e4"
        {
            VALUE "CompanyName", "XyrusWorx"
            VALUE "FileDescription", "Apophysis 7x"
            VALUE "FileVersion", "3.0.17.0"
            VALUE "InternalName", "ApophysisXW"
            VALUE "LegalCopyright", "XyrusWorx"
            VALUE "OriginalFilename", "Apophysis7x.exe"
            VALUE "ProductName", "Apophysis 7x"
            VALUE "ProductVersion", "3.0.0.0"
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x0409, 0x04E4
    }
}
